.register-container {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #146eb4;
  background: -webkit-linear-gradient(-135deg, #ff9900, #146eb4);
  background: -o-linear-gradient(-135deg, #ff9900, #146eb4);
  background: -moz-linear-gradient(-135deg, #ff9900, #146eb4);
  background: linear-gradient(-135deg, #ff9900, #146eb4);
}

.register-form {
  width: 32%;
  /* margin: 0 auto; */
}

.register-header {
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 600;
}

.register-btn-1 {
  min-height: 40px;
  background-color: #146eb4;
}

.login-action {
  margin-top: 12px;
  text-align: center;
}

.login-btn-1 {
  width: min-content !important;
  height: min-content !important;
  padding: 0 !important;
}
