.header {
  padding: 0;
  background-color: #146eb4;
  border-bottom: none !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px !important;
  margin-bottom: 2px;
}

.left-header {
  color: white;
  font-size: 30px;
  font-weight: 500;
  margin-left: 30px;
}

.right-header {
  cursor: pointer;
  color: white;
  font-size: 25px;
  margin-right: 30px;
}
