.sub-asin-table {
  margin: 10px 10px 20px 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.single-keyword-list-table {
  margin-left: 10px;
}

.sub-asin-actions {
  width: 100%;
  margin: 10px 10px 0 10px;
}